*.py[co]
*.db
*.svn*
*.#*
.DS_Store
freeze/*
*secretkey.txt
.#*%
*.dump
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mmiyaji.developer.cfg

settings_local.py
settings_deploy.py
media/tmp/*
media/archives/*
!media/tmp/*.txt
