{% extends "base/base.html" %}
{% block main %}
<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1 id="title">RecoMe</h1>
  <!-- <h2 id="about">本アプリケーションについて</h2> -->
  <p class="lead">
    RecoMeは利用者の嗜好を対話型遺伝的アルゴリズム（interactive Genetic Algorithms：iGA）によって推定する推薦エンジンです．
    <br>
  </p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#about">使い方の例</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          hoge1
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#fuga1">fuga1</a></li>
        </ul>
      </li>
      <li><a href="#hoge2">hoge2</a></li>
    </ul>
  </div>
</header>
<hr class="soften">
<div class="marketing">
  <h1 id="about">使い方の例</h1>
  <p class="marketing-byline">ほげ</p>
  <ul class="thumbnails example-sites">
    <li class="span3">
      <h2>hoge1</h2>
      <a class="thumbnail" href="#hoge1">
        <img src="{{ STATIC_URL }}/img/screenshot/miu.jpg" alt="hoge1">
      </a>
    </li>
    <li class="span3">
      <h2>hoge2</h2>
      <a class="thumbnail" href="#hoge2">
        <img src="{{ STATIC_URL }}/img/screenshot/miu.jpg" alt="hoge2">
      </a>
    </li>
  </ul>
</div><!-- /.marketing -->
<hr class="soften">
<section>
  <div class="page-header">
    <h1 id="hoge1">hoge1 <small>fuga</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2 id="hoge1">foo1</h2>
      <div>
        <div class="thumbnail">
          <img src="{{ STATIC_URL }}/img/screenshot/miu.jpg" alt="foo1">
          <div class="caption">
            <p>bar
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <h2 id="hoge2">foo2</h2>
      <div>
        <div class="thumbnail">
          <img src="{{ STATIC_URL }}/img/screenshot/miu.jpg" alt="foo2">
          <div class="caption">
            <p>bar
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
