{% extends "base/base.html" %}
{% block main %}
<!-- Masthead
     ================================================== -->
<!-- <header class="jumbotron subhead" id="overview"> -->
  <!-- <h2 id="title">登録済みファイル</h2> -->
<!-- Photo view
     ================================================== -->
<div>
  <h1>【{{user.username}}】履歴 (last login: {{user.last_login}})</h1>
  <hr class="soften">
  {% for history in histories %}
  <h2>{{forloop.counter}}) {{history.created_at}}</h2>
  <div class="row">
    <h3>感性パラメータ</h3>
    <table id="author_table" class="table table-bordered table-striped table-select">
      <thead>
        <tr>
          <th>#</th>
          <th colspan="3">パラメータ(ソート済み)</th>
        </tr>
      </thead>
      <tbody>
        {% for inds in history.individual.all %}
        <tr>
          <td>{{forloop.counter}}</td>
          {% for para in inds.sorted_param %}
          <td class="img_popover {% if para.isdeleted_path %}error{% endif %}" rel="popover" title="rank {{para.rank}}: score {{para.score}}" data-content="<h5>交叉パス</h5><ul><li>{{para.get_path_as_html}}</li><li>パスの長さ：{{para.path_length}}</li><li>パス削除の有無：{{para.isdeleted_path}}</li>"><small>{{ para.word }}({{para.hscore}})</small></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>直近で選択したコンテンツ</h3>
    {% with history.get_content as photo %}
    <div class="span3">
      <div class="thumbnail">
        <img src="http://thumbnail.image.rakuten.co.jp/{{ photo.image_url }}" alt="view in new tab '{{photo.title}}'" width="100%">
        {% ifnotequal photo.name "" %}
        <div class="caption">
          <h4>{{ photo.name }}</h4>
        </div>
        {% endifnotequal %}
      </div>
    </div>
    <div class="span9">
      <h4>TF/IDF</h4>
      <p>{% for k,w in photo.tfidfs.items %}{{k}}:{{w.tfidf}}, {% endfor %}</p>
    </div>
    {% endwith %}
  </div>
  <hr class="soften clearfix">
  {% endfor %}
  <!-- <div class="btn-toolbar"> -->
  <!--   <button class="btn btn-large" type="button"> -->
  <!--     <i class="icon-arrow-left"></i> -->
  <!--     Prev -->
  <!--   </button> -->
  <!--   <button class="btn btn-large btn-primary" type="button"> -->
  <!--     Next -->
  <!--     <i class="icon-arrow-right icon-white"></i> -->
  <!--   </button> -->
  <!-- </div> -->
  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Prev</a>
    </li>
    <li class="next">
      <a href="#">Next &rarr;</a>
    </li>
  </ul>
</div>
{% include "component/image_modal.html" %}
{% endblock main %}
