    <!-- Navbar
         ================================================== -->
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">RecoMe</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if not target %}class="active"{% else %}{%ifequal target "home"%}class="active"{%endifequal%}{% endif %}><a href="/">トップページ</a></li>
              <li {%ifequal target "content"%}class="active"{%endifequal%}><a href="/content/">コンテンツリスト</a></li>
              <li {%ifequal target "recommend"%}class="active"{%endifequal%}><a href="/recommend/">レコメンド</a></li>              <li {%ifequal target "history"%}class="active"{%endifequal%}><a href="/history/">履歴</a></li>
              <li {%ifequal target "help"%}class="active"{%endifequal%}><a href="#">ヘルプ</a></li>
              <li {%ifequal target "login"%}class="active"{%endifequal%}>{% if user.is_anonymous %}<a href="/login/">ログイン</a>{% else %}<a href="/logout/">ログアウト【{{user}}】</a>{% endif %}</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
