<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>RecoMe{% if title %} - {{title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="mmiyaji">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/docs.css">

    <!-- Bootstrap CSS fixes for IE6 -->
    <!--[if lt IE 7]>
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-ie6.min.css">
        <![endif]-->
    <!-- Bootstrap Image Gallery styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-image-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/datepicker.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body{% if subscroll %}  data-spy="scroll" data-target=".subnav" data-offset="50"{% endif %}>
    {% include "component/nav_bar.html" %}
    <div class="container">
      {% block main %}
      {% endblock main %}
    </div><!-- /container -->
      <!-- Footer
           ================================================== -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="span3"><p>&copy; mmiyaji {% now "Y" %}</p></div>
            <div class="span3"><p><a href="http://github.com/mmiyaji/RecoMe" target="_blank">Project Page on Github</a></p></div>
          <p class="pull-right">
            <i class="icon-arrow-up"></i>
            <a href="#">一番上に戻る</a>
          </p>
          </div>
        </div>
      </footer>
      <!-- Le javascript
              ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-datepicker.js"></script>

    <script src="{{ STATIC_URL }}/js/bootstrap-image-gallery.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <!-- The main application script -->
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}/js/application.js"></script>
    <script type="text/javascript">
      <!--
          {% if datepicker %}
          $(function(){
          $('#{{datepicker}}').datepicker();
          });
          {% endif %}
          {% if rakuten %}
function showRSSfromJSON(json,count) {
    var html = '';
    var imgurl = '';
    for( var i=0; i<count; i++ ) {
        console.log(json.Items[i].Item);
        try{
            imgurl = json.Items[i].Item.mediumImageUrls[0].imageUrl.split('?')[0];
        }catch(error){
            imgurl = json.Items[i].Item.mediumImageUrls[0].imageUrl;
        }
        html += '<li class="span3"><div class="thumbnail img_popover" rel="popover" title="'+json.Items[i].Item.itemName +'" data-content=""><a href="'+json.Items[i].Item.itemName+'" class="thumbnail" target="_blank"><img src="'+imgurl+'" alt="view in new tab"></a><div class="caption"><h3></h3><hr /><p>'+json.Items[i].Item.itemName+'</p></div></div></li>';
    }
    html = html.replace(/\r\n/g, "<br />");
    return html;
}
function inserRakuten(json) {
    var html = showRSSfromJSON(json,30);
    $('#content_thumb').append( $(html) );
}
// rakuten AP
var s=document.createElement('script');
s.charset='UTF-8';
s.src='https://app.rakuten.co.jp/services/api/IchibaItem/Ranking/20120927?applicationId=1057087014194595280&genreId=101266&callback=inserRakuten';
document.body.appendChild(s);
// end rakuten
          $(window).load(function(){
          var $container = $('.thumbnails');
          $container.masonry({
          itemSelector : '.span3'
          });
          });
          {% endif %}
        -->
    </script>
  </body>
</html>
